@use "sass:map";
@use "@angular/material" as mat;

@import "../variables";

$typography-typography:                 mat.define-typography-config(
  $font-family:   $font-family-base,
  $body-2:        mat.define-typography-level($font-size-sm, $line-height-lg, $font-weight-bold),
  $body-1:        mat.define-typography-level($font-size-sm, $line-height-base, $font-weight-normal),
  $button:        mat.define-typography-level($font-size-sm, $line-height-base, $font-weight-normal),
  $subheading-2:  mat.define-typography-level($font-size-sm, $line-height-base, $font-weight-normal)
);

@include mat.core($typography-typography);
@include mat.all-component-themes($app-theme);