@font-face {
  font-family: Square;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Square_BT_Roman.woff2") format("woff2");
}

@font-face {
  font-family: Marching;
  src:
    url("../fonts/marching.woff?wsdr9m") format("woff"),
    url("../fonts/marching.ttf?wsdr9m") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  font-family: Marching, "Material Icons Round";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  text-align: center;
  vertical-align: middle;
  background: url("../images/icons.png") no-repeat;

  &.mat-icon {
    background: none;
  }
}

.icon-ge {
  width: 50px;
  height: 50px;
  background-position: left top;
}

.icon-cp {
  width: 50px;
  height: 50px;
  background-position: -50px top;
}

.icon-cfe {
  width: 50px;
  height: 50px;
  background-position: -100px top;
}

.icon-hm {
  width: 50px;
  height: 50px;
  background-position: -150px top;
}