@use "sass:map";
@use "@angular/material" as mat;

@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/mixins";

$padding-field-y:                 calc(0.6rem + 1px);
$input-btn-inner-height:          add($input-line-height * 1em, $input-padding-y * 2);
$icon-shadow:                     0 0 2px $white;
$button-shadow:                   0 1px 0 1px $white inset !important;

.btn-only-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: $input-height;
  min-width: unset !important;
  height: $input-height;
  line-height: $input-btn-inner-height !important;
  border-radius: 0 !important;
  border-color: $input-border-color !important;
  box-shadow: $button-shadow;
  color: mat.get-color-from-palette($app-accent, A400) !important;
  font-size: $font-size-sm;
}

.input-square {
  width: $input-height;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  border: solid $input-border-width $input-border-color;
  line-height: $input-line-height;
  text-align: center;
  background-color: $input-bg;
}


@mixin field-grid($row, $group, $label, $control) {
  #{$row} {
    min-width: 300px;
    margin-bottom: 0;
    border-left: solid $border-width $border-color;
    border-right: solid $border-width $border-color;
  
    &:last-child {
      margin-bottom: 1px;
    }
  }

  #{$group} {
    margin-bottom: 0;
    background-color: #F5F6FA;
  
    + #{$group} {
      @include media-breakpoint-up(lg) {
        border-left: solid $border-width $border-color;
  
        #{$label} {
          border-bottom-width: $border-width;
          border-right-width: $border-width;
        }
      }
  
      @include media-breakpoint-down(lg) {
        #{$label} {
          border-bottom-width: 0;
        }
      }
    }
  }

  #{$label} {
    display: flex;
    align-items: center;
    padding: $padding-field-y 10px !important;
    margin-bottom: -$border-width;
    border: solid $border-color;
    border-width: $border-width $border-width $border-width 0;
    background-color: #F1F2F8;
    line-height: 1.5;
    font-weight: normal;
    font-size: $font-size-sm;
  
    @include media-breakpoint-down(lg) {
      border-right-width: 0
    }
  }

  #{$control} {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 56px;
    padding: $padding-field-y 10px 0 !important;
    margin-bottom: -$border-width;
    border: solid 1px $border-color;
    border-left-width: 0;
    border-right-width: 0;
    font-size: $font-size-sm;

    .mat-form-field {
      max-width: 100%;
      margin-bottom: $padding-field-y;

      + .mat-error {
        display: none;
        margin-top: subtract(0, $padding-field-y);
        margin-bottom: $padding-field-y;
        width: 100%;
      }

      &.mat-form-field-invalid + .mat-error {
        display: block;
      }
    }

    .mat-form-field-appearance-outline {
      .mat-form-field-outline {
        top: 0;
      }

      .mat-form-field-outline-start, .mat-form-field-outline-end {
        border: none;
      }

      .mat-form-field-wrapper {
        padding-bottom: 0;
        margin: 0 !important;
      }

      .mat-form-field-flex {
        align-items: center;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
      }

      .mat-form-field-infix {
        width: auto;
        max-width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        border: solid $input-border-width $input-border-color;
        background-color: $input-bg;
      }

      .mat-form-field-prefix, .mat-form-field-suffix {
        top: 0 !important;

        .mat-icon-button {
          width: $input-height;
          height: $input-height;
          box-shadow: $button-shadow;
        }
    
        .mat-icon, .icon {
          font-size: 24px;
        }
      }

      .mat-form-field-prefix .input-square {
        margin-right: $input-padding-x;
      }

      .mat-form-field-suffix {
        > .mat-icon-button {
          background-color: #EDEEF3;
          border: solid $input-border-width $input-border-color;
          border-left-width: 0;
          border-radius: 0;
          color: mat.get-color-from-palette($app-accent, A400);
          text-shadow: $icon-shadow;
        }
      }

      .mat-select-value,
      input.mat-input-element {
        box-sizing: border-box;
        height: $input-btn-inner-height;
        padding: $input-padding-y $input-padding-x;
        line-height: $input-line-height * 1em;
      }

      input.mat-input-element {
        margin-top: 0;
        background-color: $input-bg;

        &:disabled {
          background-color: $input-disabled-bg;
        }

        &:read-only {
          border-color: transparent;
          background-color: transparent;
        }
      }

      .mat-select-trigger {
        height: auto;
      }

      .mat-select-arrow-wrapper {
        justify-content: center;
        width: $input-btn-inner-height;
        height: $input-btn-inner-height;
        transform: translateY(0);
        border-left: solid $input-border-width $input-border-color;
        background-color: #EDEEF3;
        box-shadow: $button-shadow;
      }

      .mat-select-arrow {
        border: none;
        color: mat.get-color-from-palette(mat.$grey-palette, A400);
        text-shadow: $icon-shadow;
        width: 24px;
        height: 24px;
        font-family: Marching, "Material Icons Round";
        font-weight: normal;
        font-style: normal;
        font-size: 24px;
        line-height: 1;
        letter-spacing: normal;
        text-transform: none;
        display: inline-block;
        white-space: nowrap;
        word-wrap: normal;
        direction: ltr;
        font-feature-settings: "liga";
        -webkit-font-smoothing: antialiased;

        &::before {
          content: "unfold_more";
        }
      }
    }
    
    .mat-form-field.mat-form-field-invalid .mat-form-field-infix {
      border-color: mat.get-color-from-palette(map.get(mat.get-color-config($app-theme), warn));
    }

    .mat-form-field-type-mat-select {
      min-width: add($input-padding-x * 3, add($input-line-height * 2em, add($input-padding-y * 4, $input-height-border * 4, false)));
    }

    .search-input, .input-select {
      margin-bottom: $padding-field-y;

      .mat-form-field-appearance-outline .mat-form-field-flex {
        width: 10rem;
      }
    }

    .mat-select-language {
      width: 10rem;
    }

    .mat-checkbox-layout {
      margin-bottom: 0.4em;
    }
  }
}

@include field-grid(".field-row", ".field-group", ".field-label", ".field-control");