@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/mixins";

.main-content {
  border: solid 1px $border-edge-color;
  font-size: $font-size-sm;
}

table.mat-mdc-table {
  border-collapse: separate;
  margin-bottom: 0;

  .mdc-data-table__header-row, .mdc-data-table__row {
    height: auto;
  }

  tr {
    height: auto;

    &.text-start {
      .mat-mdc-header-cell, .mat-mdc-cell {
        text-align: inherit;
      }
    }
  }

  th {
    padding: $table-cell-padding-y $table-cell-padding-x;
    border-color: $border-edge-color;
    border-width: 0 $table-border-width $table-border-width 0;
    white-space: nowrap;
    font-weight: normal;
    color: $black;
  }

  td {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
    border-color: $table-border-color;
    border-width: $table-border-width $table-border-width $table-border-width 0;
  }

  th, td {
    color: inherit;
    font-size: inherit;
    text-align: center;
    vertical-align: middle;

    &:first-child {
      border-left-width: 0;
    }

    &:last-child {
      border-right-width: 0;
    }
  }

  > *:not(:first-child) {
    border-top-width: $table-border-width;
  }

  > :not(caption) > *.table-primary > * {
    box-shadow: none;
  }

  > :not(caption) > *.table-active > * {
    --bs-table-accent-bg: var(--bs-table-active-bg);

    color: var(--bs-table-active-color);
  }

  thead {
    background-image: linear-gradient(to bottom, #FBFCFE 0, #FBFCFE 1px, #F5F6F8 1px, #E6E7EC 100%);

    > tr {
      border-color: $border-edge-color;
    }
  }
}

.mat-mdc-header-cell, .mat-mdc-cell {
  > .mat-icon {
    vertical-align: middle;
  }
}

.ellipsis-description,
.ellipsis-description-line-1,
.ellipsis-description-line-2,
.ellipsis-description-line-3 {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-display: box;
  -webkit-line-clamp: attr(line-count number, 1); /* number of lines to show */
  line-clamp: attr(line-count number, 1);
  -webkit-box-orient: vertical;
}

.ellipsis-description-line-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.ellipsis-description-line-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.ellipsis-description-line-3 {
  -webkit-line-clamp: 2;
  line-clamp: 3;
}