@use "sass:color";

@import "font";
@import "bootstrap/scss/functions";
@import "variables";
@import "table-view";
@import "grid-form";
@import "mat_field";

$scrollbar-bg:                    linear-gradient(to right, theme-color("light") 0, white 50%, theme-color("light") 100%);
$scrollbar-color:                 color.adjust($primary, $hue: 1, $saturation: -51.77%, $lightness: -14.71%);

*::-webkit-scrollbar {
  width: 7px;
  background-image: $scrollbar-bg;
}

*::-webkit-scrollbar-thumb {
  border-radius: 7px;
  border: solid 1px color.adjust($primary, $hue: 2, $lightness: -19.22%, $saturation: -51.52%);
  background-color: $scrollbar-color;
}

* {
  scrollbar-color: $scrollbar-color $scrollbar-bg;
  scrollbar-width: thin;
}

button:focus {
  outline: none;
}

// # Angular Material

.mat-icon > svg {
  vertical-align: baseline;
}

body .mat-mini-fab .mat-button-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1;
}

.mat-datepicker-toggle-default-icon {
  font-size: $font-size-base;
}

.mat-calendar-body-cell.text-white {
  .mat-calendar-body-cell-content, .mat-date-range-input-separator {
    color: white;
  }
}

body {
  .mat-dialog-container {
    border-radius: $modal-content-border-radius;
  }

  .mat-dialog-title {
    padding: $modal-header-padding-y $modal-header-padding-x;
    margin: add(-25px, -$modal-content-border-radius) -24px 0;
    background-image: linear-gradient(to top, color.adjust($primary, $hue: 0.92766, $lightness: 10.980392%, $saturation: -1.670588%) 0, color.adjust($primary, $hue: 1.743044, $lightness: 21.176471%, $saturation: -6.778947%) 60%, color.adjust($primary, $hue: 1.556231, $lightness: 20.980392%, $saturation: -6.572549%) 100%);
    border-radius: $modal-content-inner-border-radius $modal-content-inner-border-radius 0 0;
    box-shadow: 0 1px 3px $gray-300;
    color: $primary;
    text-shadow: 0 0 2px $gray-300;

    >h3 {
      font-size: $font-size-base;
    }
  }

  .mat-dialog-content, .mat-dialog-actions {
    padding: $modal-inner-padding;
  }

  .mat-mini-fab[mat-dialog-close] {
    background-color: white;
    background-image: linear-gradient(to top, #EBEDF7 0%, #FFFFFF 100%);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

    &,
    .mat-icon {
      width: 20px;
      height: 20px;
      line-height: 20px;
    }

    &:active {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
    }

    .mat-icon {
      font-size: 20px;
      vertical-align: 0;
    }
  }
}

.mat-drawer,
.mat-drawer-inner-container {
  overflow: visible !important;
}

.mat-drawer-container {
  background-color: transparent;
}

.mat-drawer-content {
  .mat-tab-header {
    border-bottom: none;
  }

  .mat-tab-label {
    padding: $nav-link-padding-y $nav-link-padding-x !important;
    min-width: 92px !important;
    height: auto !important;
    border-radius: $nav-tabs-border-radius $nav-tabs-border-radius 0 0;
    border-style: solid;
    border-color: $nav-tabs-border-color;
    border-width: $nav-tabs-border-width $nav-tabs-border-width 0 $nav-tabs-border-width;
    margin-right: 5px;
    background-image: linear-gradient(to bottom, #FCFCFD 0, #FCFCFD 1px, #F5F6FA 2px, #E6E7EC 100%);
    color: $black;
    font-size: $font-size-sm;
  }
  
  .mat-tab-label-active {
    background-image: $nav-tabs-link-active-bg;
    border-color: $nav-tabs-link-active-border-color;
    color: $nav-tabs-link-active-color;
    text-shadow: 1px 1px 1px $gray-800;
  }
  
  .mat-tab-label-container {
    padding-left: 3%;
    border-bottom: solid $border-width $border-color;
    margin-bottom: 0.25rem;
  }

  .mat-ink-bar {
    opacity: 0;
  }
}

.mat-tooltip {
  white-space: pre-line;
}

.container-content {
  background: $content-background;
}

.logo-large {
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../images/logo-bank.png");
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;
  flex: 0 0 auto;
  overflow-y: hidden;
  overflow-x: auto;
  background-repeat: repeat-x;
  background-position: center;
  background-color: color.adjust($primary, $hue: 2, $lightness: 21.18%, $saturation: -6.78%);
  background-image: linear-gradient(90deg, color.adjust($primary, $hue: 1.743044, $lightness: 20%, $saturation: -9.377215%) 0%, color.adjust($primary, $hue: 1.743044, $lightness: 20.784314%, $saturation: -7.667532%) 61.7647%, color.adjust($primary, $hue: 1.743044, $lightness: 21.176471%, $saturation: -6.778947%) 100%);

  .mat-button-base {
    padding: 2px 3px;
    min-width: 40px;
    height: 40px;
    color: white;
    line-height: 1;
    text-shadow: 0 2px 2px $gray-800;

    .icon {
      font-size: 21px;
      line-height: 24px;
    }
  }

  .btn-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5px;
    padding-right: 5px;
  
    & + .btn-group {
      border-left: solid 1px color.adjust($primary, $hue: 1, $lightness: 6.27%, $saturation: -6.78%);
      margin-left: 1px;
      box-shadow: -1px 0 0 0 color.adjust($primary, $hue: 1, $lightness: 30.00%, $saturation: -6.98%);
    }
  }

  .mat-form-field.mat-mini {
    margin: 4px;
    flex: 1 1 8rem;
    max-width: 12rem;
  }

  .mat-form-field-infix {
    width: auto;
  }

  .mat-chip-list-wrapper {
    flex-wrap: nowrap;
  }
}

.mat-progress-spinner circle {
  stroke-linecap: round;
}